<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - optricon_home</title>
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
      <link rel="stylesheet" href="~/css/foundation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/optricon_home.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body >
<header class="grid-container">
    <div class="grid-x title-bar" style="background-color: #e6e7e8">
        <div class="title-bar-left ">
            <img src="/images/Web_Title.png" alt="Web Title">
        </div>
        <ul class="menu">
           <li class="hide-for-large align-right"><a style="font-size: 1.5rem; padding-right: 0;" >Menu <i class="fa-solid fa-bars"></i></a></li> 
        </ul>
          
    </div>
    <div class="top-bar grid-x " >
        <div class="top-bar-left align-left">
            <ul class="flex-container grid-x hide-for-medium-only hide-for-small-only" style="list-style-type: none; margin-left: 0">
                <li class="cell large-2">Our Products</li>
                <li class="cell large-2">Where to Buy</li>
                <li class="cell large-2">News & Reviews</li>
                <li class="cell large-2">Help & Support</li>
                <li class="cell large-2">My Opticron</li>
            </ul>
        </div>
        
        <div class="top-bar-right">
            <ul class="cell small-2 align-right flex-container flex-dir-row"  style="list-style-type: none; padding-right: 1rem;" >
              <li ><input style="margin-right: 0;" type="search" placeholder="My Opticron..."></li>
              <li><button style="padding: 0.7rem; background-color: #929497" type="button" class="button"><i class="fa-solid fa-magnifying-glass"></i></button></li>
            </ul>
          </div>

    </div>
    
</header>

<div>
    <main role="main" style="background-color: white">
        @RenderBody()
    </main>
</div>

<footer >
    <div class="footer-content-container grid-x">
        
    
        <div class="footer-content-left cell full large-6 expanded">
            <p>Optricon Unit 21, Titan Court, Laporte Way, Luton, Bedfordshire, LU4 8EF, UK</p>
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#0">Site Map</a></li>
                    <li><a href="#0">Terms</a></li>
                    <li><a href="#0">Privacy Policy</a></li>
                    <li><a href="#0">Site By Verto</a></li>
                </ul>
            </nav>
        </div>
    <div class="cell small-6 medium-6 large-6 footer-content-right margin-bottom-3">
        <div class="footer-content-right-top">
            <p class="footer-number">call <strong>01582 726522</strong></p>
            <p class="footer-email"><span><strong>email us</strong></span> sales@opticron.co.uk</p>
        </div>
        <div class="footer-content-right-bottom ">
            <p class="footer-icons"><i class="fa-brands fa-facebook-f"></i></p>
            <p class="spacer">|</p>
            <p class="footer-icons"> <i class="fa-brands fa-twitter"></i></p>
            <p class="spacer">|</p>
            <p class="footer-icons"><i class="fa-brands fa-linkedin-in"></i></p>
            <p class="spacer">|</p>
            <p class="footer-icons"><i class="fa-brands fa-youtube"></i></p>
            <p class="spacer">|</p>
            <p class="footer-icons"><i class="fa-brands fa-google-plus-g"></i></p>
        </div>
    </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/a1e4791687.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/vendor/foundation.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>$(document).foundation();
</script>

@await RenderSectionAsync( "Scripts", required: false )

</body>


</html>
