<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - optricon_home</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/foundation.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/optricon_home.styles.css" asp-append-version="true" />
    
</head>
<body>
<header>
    <div class="title-bar">
        <div class="title-var-left">
            Opticron
        </div>
    </div>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul style="display: flex; flex-direction: row">
                <li>Our Products</li>
                <li>Where to Buy</li>
                <li>News & Reviews</li>
                <li>Help & Support</li>
                <li>My Opticron</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
              <li><input type="search" placeholder="My Opticron..."></li>
              <li><button type="button" class="button"><i class="fa-solid fa-magnifying-glass"></i></button></li>
            </ul>
          </div>

    </div>
    
</header>

<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer >
Footer
</footer>
<script src="https://kit.fontawesome.com/a1e4791687.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/vendor/foundation.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>$(document).foundation();</script>

@await RenderSectionAsync( "Scripts", required: false )

</body>


</html>
