@model List<ProductCategories>

<section class="product-categories-container ">
    <h3 class="text-center">Product Categories</h3>
    <ul class="product-slider">
        @foreach ( var item in Model )
        {
            
            <li class="product-category-item">
                <div class="text-center">
                    <img src="@item.ImagePath" alt="@item.ImageAlt">
                </div>
                <div class="product-category-text text-center">
                    <p class="product-categories-item-title">@item.CategoryTitle</p>
                </div>
            </li>
        }
    </ul>

</section>


