@model List<SpecialOffers>

<section class="special-offers" style="background-color: #e6e7e8;">

    <h2 class="text-center">Special Offers</h2>
    <ul class="grid-x grid-padding-x text-center large-up-3 special-offer-item-container">
        @foreach ( var item in Model )
        {
            <li class="cell text-center special-offer-item">
                <div>
                    <img src="@item.ImagePath" alt="@item.ImageAlt">
                </div>
                <div class="expanded special-offer-text">
                    <p class="text-title editable" contenteditable="true" id="so.itemTitle-@item.Id">@item.ItemTitle</p>
                    <p class="text-offer editable" contenteditable="true" id="so.itemText-@item.Id">@item.Text</p>
                </div>
            </li>
        }
    </ul>
</section>