@model Content
@{
 
    ViewData["Title"] = "Home Page";
}



@await Html.PartialAsync( "_Orbit" )
<section class="mainContent grid-container" style="background-color: white">
    @await Html.PartialAsync( "_MediaObjects", Model.MediaObjectsList )
    @await Html.PartialAsync( "_SpecialOffers", Model.SpecialOffersList)
@* @Html.Partial( "_ProductCategories", Model.ProductCategoriesList ) *@
</section>