@model Content
@{
 
    ViewData["Title"] = "Home Page";
}


@Html.Partial( "_Orbit" )
<section class="mainContent grid-container">
@Html.Partial( "_MediaObjects", Model.MediaObjectsList )
@* @Html.Partial( "_SpecialOffers" ) *@
@* @Html.Partial( "_ProductCategories", Model.ProductCategoriesList ) *@
</section>