html {
  font-size: 14px;
  background-color: #bbbdbf;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
}

.menu a{
  color: #008542;
  margin-right: 1rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: white;
}

/* Orbit Styles */
.orbit-bullets {
  position: absolute;
  z-index: 2;
  bottom:1rem;
  right: 7rem;
  font-size: 0.5rem;
}



.orbit-bullets button {
  padding: 0.3rem; 
  background: white;
}

.orbit-bullets button.is-active {
  
  background: #258cfb;
}

.orbit-bullets button:hover {
  background: #258cfb;
}



.orbit {
 width: 100%;
  height: 350px;
  margin-bottom: 3rem;
}

.orbit img{
  width: 100%;
  image-resolution: inherit;
  object-fit: cover;
  height: 350px;
}

/* Main Section */

/* Media Objects */

.media-objects-container{
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mediaObject img{
  width: 100%;
  height: 16rem;
  max-height: 250px;
  margin-bottom: 1.5rem;
}

.mediaObject button{
  margin-top: 0.5rem;
  background-color: #008542;
  width: 11rem;
  margin-bottom: 4rem;
}

.mediaObject h4{
    font-size: 1.6rem;
    color: #8e8f92;
    margin-bottom: 1rem;
}




/* Special Offers */
.special-offers{
 
}

.special-offers h2{
  width: 100%;
  color: #8e8f92;
  padding: 3rem 0;
}
.special-offer-item {
  margin-bottom: 2rem;
}

.special-offer-item-container{
  width: 96%;
  margin: 0 auto;
}

.special-offers{
  padding-bottom: 2rem;
}

.special-offer-item{
  list-style: none;
}

.special-offer-item img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.special-offer-text{
  padding: 1.5rem 0;
  background-color: white;
}

.special-offer-text .text-title{
  margin-bottom: 0;
  font-size: 1.3rem;
}

.special-offer-text .text-offer{
  font-size: 1.4rem;
  font-weight: 600;
}

.special-offers button{
  margin-top: 1rem;
}

/* Product Categories */



.product-categories-container h3{
  color: #8e8f92;
  padding-bottom: 2.5rem;
}

.product-category-text{
  color: #95979a;
    font-size: 1.5rem;
}

.product-categories-list{
  padding: 0;
  list-style: none;
}

.product-slider{
  width:100%;
  margin:0px auto;
  padding-bottom: 2.5rem;
}
.slick-slide{
  margin:2rem;
  position: relative;
}


.slick-slide img{
  width: 100%;
  height: 100%;
  
}

.slick-next img{
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: -300%;
    right: 100%;
}

.slick-next img:hover{
  cursor: pointer;
  
}

.slick-prev img{
  width: 4rem;
  height: 2.5rem;
  position: absolute;
  top: -250%;
  right: -80%;
}

.product-categories-container{
    margin: 5rem 0;
}

.product-category-item{
  height: 15rem;
}

.product-category-item p{
  position: absolute;
  bottom: -2rem;
  left: 0.2rem;
  width: 100%;
  
  
}

/* Footer */

footer{
  height: 15rem;
  background-color: #bbbdbf;
}

footer .footer-content-container{
  height: 100%;                                                                                                                                                                                       
  
}

.footer-content-container .footer-content-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-content-container .footer-content-left a,p{
  color: #eaebeb;
}

.footer-content-container .footer-content-left a{
  font-size: 0.7rem;
}

.footer-content-container .footer-content-right .footer-email{
  letter-spacing: 0.25rem;
}

.footer-content-container .footer-content-right-top .footer-number{
  height: 3rem;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-content-container .footer-content-right-bottom {
     display: flex;
     flex-direction: row;
  font-size: 2.4rem;
  letter-spacing: 1.1rem;
  color: #edeeee;
}

.footer-content-container .footer-content-right-bottom .footer-icons{
  font-size: 1.5rem;
  padding: 0.9rem 0.2rem;
  color: #ffffff;
}

.spacer{
  color: black;
  opacity: 20%;
}




@media screen and (min-width: 300px) {
  .orbit-bullets {
    right: 4rem;
  }
  header{
    width: 100vw;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .mainContent{
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
  }
  
 .top-bar-right ul {
   margin-left: 0;
 }
 
 
  
  footer{
   font-size: 0.8rem;
    padding: 2rem 3rem 3rem 2rem;
    height: 20rem;
  }
  
  .footer-content-right{
    width: 400px!important;
  }
  
  .footer-content-container .footer-content-left{
    justify-content: flex-start;
    padding-bottom: 1rem;
  }

  .footer-content-container .footer-content-right-top .footer-number {
    font-size: 1.5rem;
  } 
 
  .footer-number{
    letter-spacing: 5px;
  }
  
  .breadcrumbs a{
    font-size: 0.5rem!important;
  }
  

    .footer-icons{
        letter-spacing: 0.5rem;
        
    }
    
    .footer-icons i{
      font-size: 1.2rem;
    }
  
  
}
 

  @media screen and (min-width: 768px) {
    .orbit-bullets {
      right: 8rem;
    }
    
    header{
      width: 100vw;
      padding-left: 0!important;
      padding-right: 0!important;
    }
    
    .mainContent{
      width: 100%;
      padding-left: 0!important;
      padding-right: 0!important;
    }
    
    .specialOfferButton{
      font-size: 2rem;
    }
    
    footer{
      height: 25rem;
      padding-right: 15rem;
    }
    
    footer.footer-content-container{
     width: 800px;
      padding-left: 2rem;
     
    }
    
    .footer-content-right-top{
      padding-top: 2rem;
    }
    
    .footer-number{
      letter-spacing: 11px;
    }
    
   
    
    .footer-icons{
      letter-spacing: 2rem;
    }

    footer{
      font-size: 1.2rem;
      width: 100%;
      padding-left: 2%;
      padding-right: 30%;
    }
    
  

    .breadcrumbs a{
      font-size: 1rem!important;
      padding: 0 -1.5px;
    }
 
  }

@media screen and (min-width: 1200px) {
  .orbit-bullets {
    right: 15rem!important;
  }
  
  footer{
    height: 15rem;
    padding-right: 25rem;
    padding-left: 20rem;
  }

  .footer-content-container{
    padding: 3rem 3rem;
    width: 75rem;
    padding: 0;
  }
  
  .footer-content-right-top {
    padding-right: 2.0rem;
  }
  
  .footer-content-right-top .footer-number{
    width: 25rem;
  }
  
  .footer-content-left{
    font-size: 1rem;
  }
  
  .footer-content-right-bottom{
    padding-right: 2.5rem;
  }

  .footer-content-container .footer-content-left{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-right: 10rem;
  }
  
  
    
    .footer-content-right .footer-number{
      letter-spacing: 3px;
    }


  .footer-content-container .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-content-container .footer-content-right-top .footer-number{
    height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #ffffff;
  }
  
 

}
 
  .special-offer-item {
    width: 95%;
    margin: 1.5rem auto;
    
  }
  