html {
  font-size: 14px;
  background-color: #bbbdbf;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #e6e7e8;
}

/* Orbit Styles */
.orbit-bullets {
  position: absolute;
  z-index: 2;
  bottom:1rem;
  right: 7rem;
  font-size: 0.5rem;
}
@media screen and (max-width: 768px) {
  .orbit-bullets {
    right: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .orbit-bullets {
    right: 15rem!important;
  }
}

@media screen and (min-width: 300px) {
  .orbit-bullets {
    right: 4rem;
  }
}


.orbit-bullets button {
  padding: 0.3rem; 
  background: white;
}

.orbit-bullets button.is-active {
  
  background: #258cfb;
}

.orbit-bullets button:hover {
  background: #258cfb;
}



.orbit {
 width: 100%;
  height: 350px;
  margin-bottom: 3rem;
}

.orbit img{
  width: 100%;
  image-resolution: inherit;
  object-fit: cover;
  height: 350px;
}

/* Main Section */

/* Media Objects */

.media-objects-container{
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mediaObject img{
  width: 100%;
  height: 16rem;
  max-height: 250px;
  margin-bottom: 1.5rem;
}

.mediaObject button{
  margin-top: 0.5rem;
  background-color: #008542;
  width: 11rem;
  margin-bottom: 4rem;
}

.mediaObject h4{
    font-size: 1.6rem;
    color: #8e8f92;
    margin-bottom: 1rem;
}


/* Special Offers */

.special-offers h2{
  width: 100%;
  color: #8e8f92;
  padding: 3rem 0;
}
.special-offer-item {
  margin-bottom: 2rem;
}

.special-offer-item-container{
  width: 96%;
  margin: 0 auto;
}

.special-offer-item img{
     width: 100%;
    height: 100%;
}

.special-offer-text{
  padding: 1.5rem 0;
  background-color: white;
}

.special-offer-text .text-title{
  margin-bottom: 0;
  font-size: 1.3rem;
}

.special-offer-text .text-offer{
  font-size: 1.4rem;
  font-weight: 600;
  
}

/* Product Categories */

.product-categories-container{
  padding: 5rem 0;
}

.product-categories-container h3{
  color: #8e8f92;
  padding-bottom: 3rem;
}

.product-category-text{
  color: #95979a;
    font-size: 1.2rem;
}

.product-categories-list{
  padding: 0;
  list-style: none;
}

.product-slider{
  width:100%;
  margin:0px auto;
}
.slick-slide{
  margin:2rem;
  position: relative;
}

.slick-slide img{
  width: 100%;
  height: 100%;
  
}

.slick-next img{
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: -300%;
    right: 100%;
}

.slick-prev img{
  width: 4rem;
  height: 2.5rem;
  position: absolute;
  top: -250%;
  right: -80%;
}

.product-category-item{
  height: 20rem;
}

.product-category-item p{
  position: absolute;
  bottom: 0;
  left: 0.2rem;
  width: 100%;
  
}

/* Footer */

footer{
  height: 15rem;
  background-color: #bbbdbf;
}

footer .footer-content-container{
 padding: 3.5rem 21rem;
  height: 100%;
  
}

.footer-content-container .footer-content-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-content-container .footer-content-left a,p{
  color: #eaebeb;
}

.footer-content-container .footer-content-left a{
  font-size: 0.7rem;
}

.footer-content-container .footer-content-right{
  display: flex;
    flex-direction: column;
  align-items: flex-end;
  padding-right: 10rem;
}

.footer-content-container .footer-content-right .footer-email{
  letter-spacing: 0.25rem;
}

.footer-content-container .footer-content-right-top .footer-number{
  height: 3rem;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-content-container .footer-content-right-bottom {
     display: flex;
     flex-direction: row;
  font-size: 2.4rem;
  letter-spacing: 1.1rem;
  color: #edeeee;
}

.footer-content-container .footer-content-right-bottom .footer-icons{
  font-size: 1.5rem;
  padding: 0.9rem 0.2rem;
    color: #ffffff;
}

.spacer{
  color: black;
  opacity: 20%;
}